*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild1
.cxx
local.properties

# Signing
*.jks
*.keystore
keystore.properties

# Build output that shouldn't be tracked
/app/debug
*.hprof
